<!-- footer.html -->
<footer class="footer">
  <p> Built with ❤️ for Students | © 2025 Career Buddy | Proudly Made in <i><b>Bharat</b></i> ❤️</p>
  <div class="social-links">

     <!-- Contact Us Section -->
<section class="contact-section">
  <div class="container">
    <h2>Contact Us</h2>
    📩 <a href="mailto:info@careerbuddy.com">info@careerbuddy.com</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" target="_blank">LinkedIn</a>
      <a href="#" target="_blank">Twitter</a>
      <a href="#" target="_blank">Instagram</a>
    📞 <a href="tel:+911234567890">+91 12345 67890</a>


  </div>
</section>
  </div>
</footer>
