.columnHeaderContainer{
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.day {
    align-self: center;
    font-weight: bold;
    margin: 5px 0;
}
.openClose {
    display: flex;
    font-size: 10px;
    justify-content: space-around;
    align-items: center;
}